header{
    background-color: #264653;
}
body{
    font-family: 'Poppins', sans-serif;
}
.Purchase{
    color: orangered;
}
.Fetured-img{
    filter: grayscale(1);
}
/* happy clients    */
.Orange{
    color: orangered;
}
